.asosiy_class{
    display: flex;
    width: 60%;
    height: 500px;
    background-color: #131E3D;
    margin-top: 30px;
    border-radius: 3px;
    justify-content: space-around;
    align-items: flex-start;
    padding: 30px;
    
}

.asosiy_class h1{
    color: #FFFFFF;
    font-size: 23px;
    margin-top: 25px;
    margin-left: 30px;
}

.asosiy_class .harid_qismi{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.harid_qismi p{
    color: #D9D9D9;
    text-align: center;
    font-size: 15px;
}

.asosiy_class .company_qismi{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100px;
    height: 30px;
}
.company_qismi p{
    color: #D9D9D9;
    text-align: center;
    font-size: 15px;
}

.asosiy_class .social_qismi{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    font-size: 20px;
    color: red;
}

.asosiy_class .social{
    display: flex;
    gap: 20px;
    align-items: center;
    
}

.store{
    width: 250px;
    height: 60px;
    border: none;
    border-radius: 12px;
    background: black;
    color: white;

    display: flex;
    align-items: center;
    gap: 15px;

    padding-left: 20px;
    cursor: pointer;
    margin-top: 10px;
}

.store svg{
    font-size: 30px;
}

.up_btn{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: none;
    background: #ff5a26;
    color: white;
    font-size: 30px;
    cursor: pointer;
    margin-top: 80px;  
}

