*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bosh_qismi{
    display: flex;
    width: 60%;
    height: 90px;
    background-color: orange;
    margin-top: 20px;
    border-radius: 3px;
}
.bosh_qismi .input_qismi{
    width: 1000px;
    height: 40px;
    display: flex;
    align-items: center; 
     justify-content: space-around;
    gap: 40px;
    margin-top: 10px;
    margin-left: 20px;
}

.input_qismi h1{
    white-space: nowrap;
    color: rgb(114, 111, 111);
    margin: 0; 
}

.input_qismi input{
    width: 800px;
    align-self: center;
}
.input_qismi a{
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: 500;
}


.input_qismi button{
    width: 30px;
    height: 25px;
    cursor: pointer;
}

Link{
    text-decoration: none;
}